<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </Console>

        <!-- Файловий лог -->
        <File name="File" fileName="logs/necklace.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- Email для критичних помилок -->
        <SMTP name="Mail" subject="Necklace App Error"
              to="logger8888888@gmail.com"
              from="logger8888888@gmail.com"
              smtpHost="smtp.gmail.com"
              smtpPort="587"
              smtpProtocol="smtp"
              smtpUsername="logger8888888@gmail.com"
              smtpPassword="magz zsbx aqqn mwgq"
              smtpDebug="false"
              bufferSize="1"
              ignoreExceptions="true">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </SMTP>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Mail" level="error"/>
        </Root>
    </Loggers>
</Configuration>